<div class="button-section">
    <div class="button-container">
        <button class="btn btn-primary" (click)="adicionarRemoverSaldo()">
            Adicionar/Remover Saldo
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" (click)="ativosComprados()">
            Ativos Comprados
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" (click)="ativosVendidos()">
            Ativos Vendidos
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-secondary" (click)="comprarAtivo()">
            Comprar Ativo
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-secondary" (click)="venderAtivo()">
            Vender Ativo
        </button>
    </div>
    <div class="button-container">
        <button class="btn btn-secondary" (click)="gerenciarCarteira()">
            Gerenciar Carteira
        </button>
    </div>
</div>
