@import "../../../styles/variables.scss";

.button-section {
    background: linear-gradient(to left, $primary-color, $secondary-color);
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 8px;
}

.button-container {
    .btn:hover {
        /* Estilo quando o mouse está sobre o botão */
        transform: scale(1.1); /* Aumenta o tamanho em 10% */
        transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
    }
}

.btn {
    padding: 10px 10px;
    border: 1px solid $gray-bg;
    border-radius: 10px;
    font-size: 18px;
    width: auto;
    height: 70px;
    cursor: pointer;
}

.btn-primary {
    background-color: $primary-color;
    color: $gray-bg;
}

.btn-secondary {
    background-color: $secondary-color;
    color: $gray-bg;
}
