<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Ticker</th>
            <th>Quant</th>
            <th>Preço Médio</th>
            <th>Preço Atual</th>
            <th>Variação Diária (Preço)</th>
            <th>Variação Diária (%)</th>
            <th>Ganho ou Perda Diária</th>
            <th>Total Investido</th>
            <th>Total Atualizado</th>
            <th>Ganho ou Perda Total</th>
            <th>Ganho ou Perda (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ativo of ativos">
            <td>{{ ativo.tipo }}</td>
            <td>{{ ativo.ticker }}</td>
            <td>{{ ativo.quantidade }}</td>
            <td>{{ ativo.precoMedio | currency:'BRL':true:'2.2' }}</td>
            <td>{{ ativo.precoAtual | currency:'BRL':true:'2.2' }}</td>
            <td>{{ ativo.variacaoDiariaPreco | currency:'BRL':true:'2.2' }}</td>
            <td>{{ ativo.variacaoDiariaPercentual }}%</td>
            <td
            [ngClass]="{
                'text-success': ativo.ganhoPerdaDiaria >= 0,
                'text-danger': ativo.ganhoPerdaDiaria < 0
            }"
        >
            {{ ativo.ganhoPerdaDiaria | currency:'BRL':true:'2.2' }}
        </td>
            <td>{{ ativo.totalInvestido | currency:'BRL':true:'2.2' }}</td>
            <td>{{ ativo.totalAtualizado | currency:'BRL':true:'2.2' }}</td>
            <td
                [ngClass]="{
                    'text-success': ativo.ganhoPerdaTotal >= 0,
                    'text-danger': ativo.ganhoPerdaTotal < 0
                }"
            >
                {{ ativo.ganhoPerdaTotal | currency:'BRL':true:'2.2' }}
            </td>
            <td>{{ ativo.ganhoPerdaPercentual }}%</td>
        </tr>
    </tbody>
</table>
