/* Reutilizando o estilo da tabela base */
@import "../../../styles/variables.scss";

.table {
  margin: 6px;
  justify-self: center;
  width: 99%;
}

.table th,
.table td {
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid $text-color;
}

.table th {
  background-color: $primary-color;
  border-radius: 10px 10px 0 0;
  width: 100px;
  color: $gray-bg;
}

.table td {
  background-color: $secondary-color;
  color: $gray-bg;
  font-weight: 600;
}

.text-success {
  color: $secondary-color;
}

.text-danger {
  color: $primary-color;
}
