/* Reutilizando o estilo da tabela base */
@import "../../../styles/variables.scss";

.table {
  margin: 2px;
  justify-self: center;
}

.table th,
.table td {
  padding: 5px;
  text-align: center;
  border: 1px solid white;
}

.table th {
  background-color: $primary-color;
  border-radius: 10px 10px 0 0;
  width: 100px;
  color: white;
}

.table td {
  background-color: $secondary-color;
  color: white;
}

.text-success {
  color: $secondary-color;
}

.text-danger {
  color: $primary-color;
}
