<app-default-login-layout
    title="InvestX - Signup"
    primaryBtnText="Signup Now"
    secondaryBtnText="Login Now"
    (submit)="submit()"
    (navigate)="navigate()"
>
    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="nome"
            inputName="nome"
            type="text"
            label="Nome"
            placeholder="Seu nome"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="cpf"
            inputName="cpf"
            type="text"
            label="CPF"
            placeholder="Seu CPF"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="email@gmail.com"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Senha"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="confirmeSuaSenha"
            inputName="confirmeSuaSenha"
            type="password"
            label="Confirme sua senha"
        >
        </app-primary-input>
    </form>
</app-default-login-layout>
