// Baixo contraste

$primary-color: #0047AB;
$secondary-color: #1e7ac6;

// $primary-color: #006400;
// $secondary-color: #2ca02c;


// Medio Contraste

// $primary-color: #007bff;
// $secondary-color: #1e8123;


// Alto Contraste

// $primary-color: #0047AB;
// $secondary-color: #d8831b;

// $primary-color: #006400;
// $secondary-color: #DC143C;


// Tres cores espacadas no circulo cromatico

// $primary-color: #161368;
// $secondary-color: #8B008B;
// $gray-bg: #f49999;

// $primary-color: #0047AB;
// $secondary-color: #8B008B;
// $gray-bg: #FFFF00;

// $primary-color: #4a2ed9;
// $secondary-color: #808080;
// $gray-bg: #D3D3D3;

$gray-bg: #ffffff;
$text-color: #333333;
$gray-secondary-bg: #e9ecef;
