<app-default-login-layout
    title="InvestX - Login"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
    (submit)="submit()"
    (navigate)="navigate()"
>
    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="cpf"
            inputName="cpf"
            type="text"
            label="CPF"
            placeholder="Digite seu CPF"
        >
        </app-primary-input>
        <app-primary-input
            formControlName="senha"
            inputName="senha"
            type="password"
            label="Senha"
        >
    </app-primary-input>
    <span>Esqueceu sua senha?</span>
    </form>
</app-default-login-layout>
