@import "../../../styles/variables.scss";

.ativos-vendidos-component {
    background-image: url("../../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
    top: 100px;
    right: auto;
    display: flex;
    gap: 160px;
    .btn:hover {
        /* Estilo quando o mouse está sobre o botão */
        transform: scale(1.1); /* Aumenta o tamanho em 10% */
        transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
    }
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
}

.btn-primary {
    background-color: $primary-color;
    color: $gray-bg;
}

.btn-secondary {
    background-color: $secondary-color;
    color: $gray-bg;
}

.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
