@import "../../../styles/variables.scss";

.home-component {
    background-image: url("../../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
    top: 80px; /* Ajuste a distância do topo */
    right: 60px; /* Ajuste a distância da direita */
    display: flex;
    gap: 30px; /* Espaçamento entre os botões */
    button:hover {
        /* Estilo quando o mouse está sobre o botão */
        transform: scale(1.1); /* Aumenta o tamanho em 10% */
        transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
    }
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 130px;
    cursor: pointer;
}

.btn-primary {
    background-color: $primary-color;
    color: #fff;
}

.btn-secondary {
    background-color: $secondary-color;
    color: #fff;
}
