.home-component {
    background-image: url("../../../assets/background.jpg");
    background-size: cover;
    background-position: center;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
    top: 80px; /* Ajuste a distância do topo */
    right: 60px; /* Ajuste a distância da direita */
    display: flex;
    gap: 30px; /* Espaçamento entre os botões */
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff; /* $primary-color */
    color: #fff;
  }

  .btn-secondary {
    background-color: #66bb6a; /* $secondary-color */
    color: #fff;
  }
